body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.maplibregl-popup {
    width: 240px;
}

.maplibregl-popup-content {
    border-radius: 12px;
    /* width: 220px; */
}

.searoute-popup-box {
    width: 220px;
    word-wrap: break-word;
}

.port-popup-box .port-name {
    text-align: center;
}

#layers-control {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    color: #323232;
}

#hamburger-control {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    color: #323232;
}

.maplibregl-ctrl-layers-toggle {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maplibregl-ctrl-hamburger-toggle {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maplibregl-ctrl-hamburger-list a {
    text-decoration: none;
    color: #323232;
}

.maplibregl-ctrl-layers-list input[type="radio"],
.maplibregl-ctrl-layers-list input[type="checkbox"] {
    margin: 4px;
    cursor: pointer;
}

.maplibregl-ctrl-layers-list hr {
    margin: 4px 0;
    border: 0;
    border-top: 1px solid #e5e7eb;
}

.highlight-yellow {
    text-decoration: underline;
    text-decoration-thickness: 0.5em;
    text-decoration-color: rgba(255, 228, 0, 0.4);
    text-underline-offset: -0.2em;
    text-decoration-skip-ink: none;
}

#context-menu {
    position: absolute;
    background-color: #fff;
    border: none;
    padding: 5px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
}

#context-menu div {
    padding: 0 12px;
    border: none;
    margin: 0;
    min-height: 25px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    align-items: center;
    display: flex;
}

#context-menu div:hover {
    background-color: #ddd;
}

#loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 9999;
    box-shadow:
        0 -30px 0 0 #bbb,
        15px -26px 0 0 #aaa,
        26px -15px 0 0 #999,
        30px 0 0 0 #888,
        26px 15px 0 0 #777,
        15px 26px 0 0 #666,
        0 30px 0 0 #555,
        -15px 26px 0 0 #444,
        -26px 15px 0 0 #333,
        -30px 0 0 0 #222,
        -26px -15px 0 0 #111,
        -15px -26px 0 0 #000;
    animation: loading 1s infinite steps(12, start);
}

@keyframes loading {
0% {
    transform: rotate(0deg);
    }
100% {
    transform: rotate(360deg);
    }
}
