body {
    font-family: "Helvetica Neue", "Arial", "Helvetica", "sans-serif";
    font-size: 12px;
    color:#323232;
    background-color: #fff;
    margin: 0;
}

.header {
    display: flex;
    width: 700px;
    max-width: none;
    height: 52px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #bfd9f2;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .wrapper-inner {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.header p {
    float: left;
    margin: 10px;
    font-size: 1.4rem;
    font-weight: 700;
  }
  
.header ul {
    float: right;
    margin: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    padding-left:0;
}

.header ul li {
    float: left;
    margin-right: 20px;
    text-align: center;
    list-style:none;
}

.header ul li:last-child {
    margin-right: 0;
}

.header ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #323232;
    font-size: 0.7rem;
}

.header ul li a i {
    font-size: 1.3rem;
    margin-bottom: 0.1px;
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;
    width: 700px;
    max-width: none;
    height: 28px;
    margin: 5px;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 52px;
    z-index: 10;
}

table {
	width: 100%;
	min-width: 700px;
    max-height: 40%;
    padding: 1em 1em 1em 1em;
}

table thead th {
    position: -webkit-sticky;
    position: sticky;
    top: calc(52px + 28px);
    z-index: 1;
  }

table th {
    background-color: #bfd9f2;
    border: 1px #bbb solid;
}

table td {
    border: 1px #bbb solid;
}

.route-id {
    width: 60px;
}

.business-name {
    width: 200px;
}

.route-name {
    width: 200px;
}

.information {
    width: 200px;
}

.url {
    width: 40px;
}

/*--PC--*/
@media screen and (min-width: 700px){
    .header {
        width: 100%;
        max-width: none;
    }
    h2 {
        width: 100%;
        max-width: none;
    }
	table {
        width: auto;
    }
    .business-name {
        width: auto;
    }
    .route-name {
        width: auto;
    }
    .information {
        width: auto;
    }
}

/* 季節運航 (season) の行の色 */
.season-row {
    background-color: #fffacd; /* 薄い黄色 */
}

/* 運航休止 (suspend) の行の色 */
.suspend-row {
    background-color: #f8d7da; /* 薄い赤 */
}

/* 検索用 */
.sbox {
    max-width: 300px;
    padding: 10px 10px;
}

.sbox-inner {
    display: flex;
}

.sbox-inner input#searchbox {
    flex: auto;
}
